body{
    background: #272c34;
}

.floor__container {
    width: 40%;
    max-width: 250px;
    aspect-ratio: 1;
    background: #8a34fa;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    animation: hideNightDay 3.5s linear infinite;
}

@keyframes hideNightDay {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 0.9;
    }
    100%{
        opacity: 0;
    }
}

.floor {
    position: absolute;
    height: 50%;
    width: 100%;
    background: #55b862;
    bottom: -14.8%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow {
    height: 100%;
    width: 150%;
    background: #0d0e115d;

    /* forma de la sombra */
    clip-path: polygon(15% 0, 100% 20%, 85% 0);

    animation: shadow 3.5s linear infinite;
}

@keyframes shadow {
    0%{
        clip-path: polygon(15% 0, 100% 20%, 85% 0);
    }
    30%{
        clip-path: polygon(15% 0, 54% 40%, 85% 0);
    }
    50%{
        clip-path: polygon(15% 0, 54% 40%, 85% 0);
    }
    100%{
        clip-path: polygon(15% 0, 0% 50%, 84% 0);
    }
}

.pyramide {
    position: absolute;
    height: 30%;
    width: 70%;
    display: flex;
}

.side-a {
    display: block;
    height: 100%;
    width: 70%;
    background: #f0f0f0;
    position: absolute;
    z-index: 1;

    /* forma del lado A de la piramide */
    clip-path: polygon(79% 0, 0 100%, 100% 100%);
    animation: changedSideA 3.5s linear infinite;
}

@keyframes changedSideA {
    0%{
        background: #c3c1c3;
        clip-path: polygon(79% 0, 0 100%, 100% 100%);
    }
    30%{
        background: #dadada;
        clip-path: polygon(79% 0, 0 100%, 80% 100%);
    }
    70%{
        background: #dadada;
        clip-path: polygon(79% 0, 0 100%, 80% 100%);
    }
    100%{
        background: #a3a1a3;
        clip-path: polygon(79% 0, 0 100%, 50% 100%);
    }
}

.side-b {
    position: absolute;
    width: 70%;
    height: 100%;
    background: #c3c1c3;

    /* forma del lado B de la piramide */
    clip-path: polygon(35% 0, 55% 100%, 100% 100%);
    left: 30%;
    /* z-index: 2; */
    animation: changedSideB 3.5s linear infinite;
}

@keyframes changedSideB {
    0%{
        clip-path: polygon(35% 0, 55% 100%, 100% 100%);
        background: #a3a1a3;
    }
    30%{
        background: #dadada;
        clip-path: polygon(35% 0, 25% 100%, 100% 100%);
    }
    70%{
        background: #dadada;
        clip-path: polygon(35% 0, 25% 100%, 100% 100%);
    }
    100% {
        background: #c3c3c3;
        clip-path: polygon(35% 0, 5% 100%, 100% 100%);
    }
}

.sun-background {
    position: absolute;
    height: 170%;
    width: 170%;
    top: 40%;
    transform: rotate(0deg);

    /* animación del fondo con el sol */
    animation: rotateSunBackground 3.5s linear infinite;
}

@keyframes rotateSunBackground {
    0%{
        transform: rotateZ(0deg);
    }
    30%{
        transform: rotateZ(45deg);
    }
    50%{
        transform: rotateZ(45deg);
    }
    100%{
        transform: rotateZ(90deg);
    }
}

.sun {
    display: block;
    position: absolute;
    height: 12%;
    aspect-ratio: 1;
    border-radius: 100%;
    background: #ddcf7e;
    filter: drop-shadow(0 0 10px #c4bc91);
}